<html>
<head></head>
<body>


<div id="modal_connection" class="modal">
    <div id="modal_connection_content" class="modal-content">
        <span class="close"> &times; </span>
        <h2 class="modal-text"> Please enter your credentials </h2>
        <form style="text-align: center">
            <label for="username"> Username </label>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <label for="password"> Password </label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button value="Login" id="submit"> Login</button>
        </form>
    </div>
</div>

<script>
    let username = document.getElementById("username");
    let password = document.getElementById("password");
    let submit = document.getElementById("submit");

    submit.addEventListener("click", async function (event) {
        event.preventDefault();
        let data = {
            'username': username.value,
            'password': password.value
        };
        let formBody = [];
        for (let property in data) {
            let encodedKey = encodeURIComponent(property);
            let encodedValue = encodeURIComponent(data[property]);
            formBody.push(encodedKey + "=" + encodedValue);
        }
        formBody = formBody.join("&");

        fetch("/api/login", {
            method: "POST",
            headers: {
                "Content-Type": 'application/x-www-form-urlencoded;charset=UTF-8'
            },
            body: formBody,
            credentials: "same-origin"
        }).then(function (response) {
            if (response.status == 200) {
                alert("Logged in");
                admin = true;
                window.location.reload();
            } else {
                alert("Wrong credentials");
            }
        })
    });
</script>


<div class="wrapper col1">
    <div id="topbar">
        <ul>
            <li id="text_topbar">Log in for admin</li>
            <li class="last">
                <button id="connection_button"> Login</button>
            </li>
        </ul>
        <br class="clear"/>
    </div>
</div>


<div class="wrapper col2">
    <div id="header">
        <div id="topnav">
            <ul>
                <li id="dropdown" class="last"><a href="#">Sports & Events</a>
                    <ul>
                        <li><a href="http://localhost:8081/sports">Sports</a></li>
                        <li id="admin_sport"><a href="http://localhost:8081/sportsAdmin">Sport Admin</a></li>
                        <li><a href="http://localhost:8081/events">Events</a></li>
                        <li id="admin_event"><a href="http://localhost:8081/eventAdmin">Event Admin</a></li>
                        <li><a href="http://localhost:8081/locations">Locations</a></li>
                        <li id="admin_location"><a href="http://localhost:8081/locationAdmin">Location Admin</a></li>
                    </ul>
                </li>
                <li id="stats"><a href="http://localhost:8081/stats">Stats</a></li>
                <li id="athletes"><a href="http://localhost:8081/athletes">Participants</a>
                    <ul id="admin_athletes">
                        <li><a href="http://localhost:8081/athletesAdmin">Athletes Admin</a></li>
                    </ul>
                </li>
                <li id="homepage"><a href="http://localhost:8081/">Homepage</a></li>
            </ul>
        </div>
        <div id="logo">
            <h1><a href="http://localhost:8081/">Olympics Games 2024</a></h1>
        </div>
        <br class="clear"/>
    </div>
</div>


<script>
    let login_button = document.getElementById("connection_button");
    let modal = document.getElementById("modal_connection");
    let span = document.getElementsByClassName("close")[0];
    let top_text = document.getElementById("text_topbar");


    span.onclick = function () {
        modal.style.display = "none";
    };

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };

    login_button.addEventListener("click", function () {
        if (!admin) {
            modal.style.display = "block";
        }
    });


    function checkAdmin() {
        if (!admin) {
            document.getElementById("admin_sport").style.display = "none";
            document.getElementById("admin_event").style.display = "none";
            document.getElementById("admin_location").style.display = "none";
            document.getElementById("admin_athletes").style.display = "none";
        } else {
            top_text.innerHTML = "Welcome admin";
            login_button.innerHTML = "Logout";
            login_button.addEventListener("click", async function () {
                let req = await fetch("/api/logout", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                let res = await req.text();
                if (res === "logged out") {
                    window.location.href = "http://localhost:8081/";
                }
            });

        }
    }


</script>


<script>
    function ready() {

        var loc = window.location.href; // returns the full URL
        var root = "localhost:8081/";
        var end = loc.slice(loc.lastIndexOf(root) + root.length);

        checkAdmin();
        console.log(end)
        if (end === "") { // If Empty or if just home URL
            $('#homepage').addClass('active');
            //Remove All Other Classes
            $('#dropdown').removeClass('active');
            $('#athletes').removeClass('active');
            $('#stats').removeClass('active');
        }else
        if (end === "sports" || end === "sportsAdmin" || end === "events" || end === "eventAdmin" || end === "locations" || end === "locationAdmin") { // if page = root/start-here/
            $('#dropdown').addClass('active');
            //Remove All Other Classes
            $('#homepage').removeClass('active');
            $('#athletes').removeClass('active');
            $('#stats').removeClass('active');
        }else
        if (end === "athletes" || end === "athletesAdmin") { // if page = root/work-with-me/
            $('#athletes').addClass('active');
            //Remove All Other Classes
            $('#homepage').removeClass('active');
            $('#dropdown').removeClass('active');
            $('#stats').removeClass('active');
        }else

        if (end === "stats") { // if page = root/work-with-me/
            $('#stats').addClass('active');
            //Remove All Other Classes
            $('#homepage').removeClass('active');
            $('#dropdown').removeClass('active');
            $('#athletes').removeClass('active');
        }


    };
    ready();
</script>
</body>
</html>